@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebsiteChungKhoann.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        width: 98%;
        margin-left: 20px;
        margin-top: -15px;
    }

    thead {
        background-color: #C40C0C;
        color: white;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgba(255, 127, 80, 0.4 );
    }
</style>
<style>
    /* Phân trang */
    .pagination-container {
        text-align: center;
        margin-top: 20px;
    }

        .pagination-container .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination-container .pagination li {
                display: inline;
            }

                .pagination-container .pagination li a {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    line-height: 1.428571429;
                    text-decoration: none;
                    color: #C40C0C;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    margin-left: -1px;
                }

                .pagination-container .pagination li.active a {
                    background-color: #C40C0C;
                    color: #fff;
                }

                .pagination-container .pagination li a:hover {
                    z-index: 3;
                    color: #fff;
                    background-color: #C40C0C;
                    border-color: #C40C0C;
                }

                .pagination-container .pagination li:first-child a {
                    margin-left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                .pagination-container .pagination li:last-child a {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .pagination-container .pagination li a:focus {
                    outline: none;
                }
</style>
<p>
    <a href="@Url.Action("Create")"><i class="fa-solid fa-square-plus" style="color: #C40C0C; font-size: 34px; margin-top: 10px; margin-left: 20px; cursor: pointer ">Tạo Danh Mục</i></a>
</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Category)
                </td>
                <td>
                    <a href="@Url.Action("Edit",new { id = item.Id_Category })"><i class="fa-solid fa-pencil text-warning" style="font-size: 14px; margin: 0px 10px; "></i></a>

                    <a href="@Url.Action("Xoa",new { id = item.Id_Category })" onclick="Notifical()"><i class="fa-solid fa-trash-can text-danger" style="font-size: 14px"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<script>
    function Notifical() {
        alert("Bạn có chắc  muốn xóa ?");
    }
</script>