@model WebsiteChungKhoann.Models.Account

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .ip{
        width: 500px;
    }
    label {
        font-weight: bold;
    }
</style>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <p class="text-center" style="font-size: 18px; font-weight: 500; margin: 0; background-color: #C40C0C; padding: 15px; color: white">Tạo tài khoản</p>
    <div class="form-horizontal" style=" display: flex; justify-content: center; margin: auto auto; margin-top: 60px;">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="display:flex">
                <label style="margin: 0px 30px">Name :</label>
                <div class="col-md-10 ip ">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label style="margin: 0px 30px">Email :</label>
                <div class="col-md-10 ip">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label style="margin: 0px 20px">Address :</label>
                <div class="col-md-10 ip">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label style="margin: 0px 15px">Password :</label>
                <div class="col-md-10 ip">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label style="margin: 0px 30px">Rolex :</label>
                <div class="col-md-10 ip">
                    @Html.EditorFor(model => model.Rolex, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rolex, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group" style="display : flex; justify-content: center">
                <div class="col-md-10 ip" style="display: flex; justify-content: center; background-color: #C40C0C; color: white; width: 120px; border-radius: 10px">
                    <input style="color:white; outline: none; border: none;" onclick="confirmAndSubmit()"  type="submit" value="Lưu" class="btn btn-default" />
                </div>
            </div>
        </div>
        
    </div>
}
<script>
    function confirmAndSubmit() {
        alert("Bạn đã thêm thành công dữ liệu!!");
    }
</script>