@model WebsiteChungKhoann.Models.Account

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    dd{
        margin-left: 20px;
    }
</style>
<p class="text-center" style="background-color: #C40C0C; padding:10px; color: white; font-size: 18px;">Xóa Account</p>
<div>
   
    <dl class="dl-horizontal delete" style="display: flex; justify-content: center">
        <div>
            <div style="display:flex">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            </div>
            <div style="display:flex">

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            </div>
            <div style="display:flex">

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            </div>
            <div style="display:flex">

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
            </div>
            <div style="display:flex">

            <dt>
                @Html.DisplayNameFor(model => model.Rolex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rolex)
            </dd>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" onclick="show()" value="Delete" class="btn btn-default" /> 
                </div>
            }
        </div>
       
    </dl>

 
</div>



<script>
    function show() {
        alert("Bạn có chắc muốn xóa");
    }
</script>