@model IEnumerable<WebsiteChungKhoann.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        width: 98%;
        margin-left: 20px;
        margin-top: -15px;
    }

    thead {
        background-color: #C40C0C;
        color: white;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        white-space: nowrap; /* Ngăn chữ xuống dòng */
        overflow: hidden; /* Ẩn chữ thừa */
        text-overflow: ellipsis; /* Thêm dấu ba chấm */
        max-width: 150px;
    }

    tr:hover {
        background-color: rgba(255, 127, 80, 0.4 );
    }
</style>
<p>
    <a href="@Url.Action("Create")"><i class="fa-solid fa-square-plus" style="color: #C40C0C; font-size: 34px; margin-top: 10px; margin-left: 20px; cursor: pointer "></i></a>
</p>
<table class="table">
    <thead>
         <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.Name_Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name_Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name_Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name_Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Img))
                {
                    <img src="@Url.Content(item.Img)" alt="Image" style="max-width: 100px; max-height: 100px;" />
                }
                else
                {
                    <span>No image available</span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a href="@Url.Action("Edit",new { id = item.Id_Product })"><i class="fa-solid fa-pencil text-warning" style="font-size: 14px; margin: 0px 10px; "></i></a>

                <a href="@Url.Action("Xoa",new { id = item.Id_Product })" onclick="Notifical()"><i class="fa-solid fa-trash-can text-danger" style="font-size: 14px"></i></a>
            </td>
        </tr>
    }
    </tbody>

</table>
<script>
    function Notifical() {
        alert("Bạn có chắc muốn xóa ??");
    }
</script>