@model IEnumerable<WebsiteChungKhoann.Models.Product>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xx mt-5">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var i in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <img src="@Url.Content(i.Img)" alt="Product Image" />
                        </div>
                        <div class="product-info">
                            <h2>@i.Price</h2>
                            <p class="product-name">@i.Name</p>
                            <p class="count">Còn Lại :  @i.Count</p>
                            <a href="@Url.Action("Cart", "Cart", new { id = i.Id_Product })"><i class="btn btn-primary add-to-cart fa fa-shopping-cart">Add to Cart</i></a> |
                            <a href="@Url.Action("Details", "Product", new { id = i.Id_Product })">Chi Tiết</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Danh sách trống.</p>
        }
    </div>
</div>
