@model WebsiteChungKhoann.Models.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .ip {
        width: 500px;
    }

    label {
        font-weight: bold;
    }
</style>
<p style="background-color: #C40C0C; color: white; text-align: center; padding: 10px">Sửa bài viết</p>


@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="display: flex; justify-content: center; margin: auto auto; margin-top: 60px;">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_Post)

            <div class="form-group" style="display:flex">
                <label style="margin: 0px 30px">Name:</label>
                <div class="col-md-10 ip">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label style="margin: 0px 10px">Description:</label>
                <div class="col-md-10 ip">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group" style="display:flex">
                <label style="margin: 0px 40px">Img:</label>
                <div class="col-md-10 ip">
                    <!-- Hiển thị ảnh đã chọn -->
                    @if (!string.IsNullOrEmpty(Model.Img))
                    {
                        <img id="previewImage" src="@Url.Content(Model.Img)" alt="Image" class="img-thumbnail" style="max-width: 300px; max-height: 300px;" />
                    }
                    <!-- Input để chọn ảnh mới -->
                    <input type="file" name="imgFile" id="imgFile" onchange="previewFile()" />
                    <!-- Hiển thị ảnh ban đầu -->
                  
                </div>

            </div>
            <br />


            <!-- Ẩn trường nhập Id_Account -->
            @Html.HiddenFor(model => model.Id_Account)

            <div class="form-group" style="display : flex; justify-content: center">
                <div class="col-md-10 ip" style="display: flex; justify-content: center; background-color: #C40C0C; color: white; width: 120px; border-radius: 10px">
                    <input style="color:white; outline: none; border: none;" onclick="confirmAndSubmit(); return false;" type="submit" value="Cập nhật" class="btn btn-default" />
                </div>
            </div>
        </div>
       
    </div>
}


<script>
    function previewFile() {
        var preview = document.getElementById('previewImage'); // Thẻ <img> hiển thị ảnh mới
        var file = document.getElementById('imgFile').files[0]; // File ảnh đã chọn
        var reader = new FileReader(); // Đối tượng FileReader để đọc file ảnh

        reader.onloadend = function () {
            preview.src = reader.result; // Cập nhật src của thẻ <img> để hiển thị ảnh mới
        }

        if (file) {
            reader.readAsDataURL(file); // Đọc file ảnh và cập nhật src của thẻ <img>
        } else {
            preview.src = ''; // Nếu không có file được chọn, đặt src của thẻ <img> thành rỗng
        }
    }
</script>