@model WebsiteChungKhoann.Models.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Post)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- Hiển thị ảnh đã chọn -->
                @if (!string.IsNullOrEmpty(Model.Img))
                {
                    <img id="previewImage" src="@Url.Content(Model.Img)" alt="Image" class="img-thumbnail" style="max-width: 300px; max-height: 300px;" />
                }
                <!-- Input để chọn ảnh mới -->
                <input type="file" name="imgFile" id="imgFile" onchange="previewFile()" />
                <!-- Hiển thị ảnh ban đầu -->
                @if (!string.IsNullOrEmpty(Model.Img))
                {
                    <img src="@Url.Content(Model.Img)" alt="Original Image" class="img-thumbnail" style="max-width: 300px; max-height: 300px;" />
                }
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- Hiển thị ngày hiện tại -->
                @Html.TextBoxFor(model => model.Date, DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Ẩn trường nhập Id_Account -->
        @Html.HiddenFor(model => model.Id_Account)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function previewFile() {
        var preview = document.getElementById('previewImage'); // Thẻ <img> hiển thị ảnh mới
        var file = document.getElementById('imgFile').files[0]; // File ảnh đã chọn
        var reader = new FileReader(); // Đối tượng FileReader để đọc file ảnh

        reader.onloadend = function () {
            preview.src = reader.result; // Cập nhật src của thẻ <img> để hiển thị ảnh mới
        }

        if (file) {
            reader.readAsDataURL(file); // Đọc file ảnh và cập nhật src của thẻ <img>
        } else {
            preview.src = ''; // Nếu không có file được chọn, đặt src của thẻ <img> thành rỗng
        }
    }
</script>